<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhubajie.huixiao.center.dao.huixiao.mapper.XXXMapper" >
  <resultMap id="BaseResultMap" type="com.zhubajie.huixiao.center.dao.huixiao.entity.XXX" >
    <id column="permit_id" property="permitId" jdbcType="INTEGER" />
    <result column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="operator" property="operator" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="group_name_path" property="groupNamePath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    permit_id, activity_id, `operator`, `type`, create_time, update_time, operator_name, 
    group_name, group_name_path
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhubajie.huixiao.center.dao.huixiao.entity.XXXExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from hx_permit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hx_permit
    where permit_id = #{permitId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hx_permit
    where permit_id = #{permitId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhubajie.huixiao.center.dao.huixiao.entity.XXXExample" >
    delete from hx_permit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhubajie.huixiao.center.dao.huixiao.entity.XXX" >
    <selectKey resultType="java.lang.Integer" keyProperty="permitId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hx_permit (activity_id, `operator`, `type`, 
      create_time, update_time, operator_name, 
      group_name, group_name_path)
    values (#{activityId,jdbcType=INTEGER}, #{operator,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{operatorName,jdbcType=VARCHAR}, 
      #{groupName,jdbcType=VARCHAR}, #{groupNamePath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhubajie.huixiao.center.dao.huixiao.entity.XXX" >
    <selectKey resultType="java.lang.Integer" keyProperty="permitId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hx_permit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="operator != null" >
        `operator`,
      </if>
      <if test="type != null" >
        `type`,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="operatorName != null" >
        operator_name,
      </if>
      <if test="groupName != null" >
        group_name,
      </if>
      <if test="groupNamePath != null" >
        group_name_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorName != null" >
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupNamePath != null" >
        #{groupNamePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhubajie.huixiao.center.dao.huixiao.entity.XXXExample" resultType="java.lang.Integer" >
    select count(*) from hx_permit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hx_permit
    <set >
      <if test="record.permitId != null" >
        permit_id = #{record.permitId,jdbcType=INTEGER},
      </if>
      <if test="record.activityId != null" >
        activity_id = #{record.activityId,jdbcType=INTEGER},
      </if>
      <if test="record.operator != null" >
        `operator` = #{record.operator,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        `type` = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operatorName != null" >
        operator_name = #{record.operatorName,jdbcType=VARCHAR},
      </if>
      <if test="record.groupName != null" >
        group_name = #{record.groupName,jdbcType=VARCHAR},
      </if>
      <if test="record.groupNamePath != null" >
        group_name_path = #{record.groupNamePath,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hx_permit
    set permit_id = #{record.permitId,jdbcType=INTEGER},
      activity_id = #{record.activityId,jdbcType=INTEGER},
      `operator` = #{record.operator,jdbcType=INTEGER},
      `type` = #{record.type,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      operator_name = #{record.operatorName,jdbcType=VARCHAR},
      group_name = #{record.groupName,jdbcType=VARCHAR},
      group_name_path = #{record.groupNamePath,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhubajie.huixiao.center.dao.huixiao.entity.XXX" >
    update hx_permit
    <set >
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
      <if test="operator != null" >
        `operator` = #{operator,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorName != null" >
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupNamePath != null" >
        group_name_path = #{groupNamePath,jdbcType=VARCHAR},
      </if>
    </set>
    where permit_id = #{permitId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhubajie.huixiao.center.dao.huixiao.entity.XXX" >
    update hx_permit
    set activity_id = #{activityId,jdbcType=INTEGER},
      `operator` = #{operator,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      group_name = #{groupName,jdbcType=VARCHAR},
      group_name_path = #{groupNamePath,jdbcType=VARCHAR}
    where permit_id = #{permitId,jdbcType=INTEGER}
  </update>
  <insert id="insertBatch" parameterType="java.util.List" >
    insert into hx_permit (activity_id,operator,operator_name,type,group_name,group_name_path,create_time,update_time)
    values
    <foreach collection="list"  item="item"  index="index" separator="," >
      (#{item.activityId,jdbcType=INTEGER},
      #{item.operator,jdbcType=INTEGER},
      #{item.operatorName,jdbcType=VARCHAR},
      #{item.type,jdbcType=INTEGER},
      #{item.groupName,jdbcType=VARCHAR},
      #{item.groupNamePath,jdbcType=VARCHAR},
      #{item.createTime,jdbcType=TIMESTAMP},
      #{item.updateTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>

</mapper>